
     
    <div id="mainDivContainer" style="position: relative; width: 100%; margin-top: 0px; margin-bottom: 0px;">
        ​
        <div style="width: 960px;  margin-top: 5px; margin-left: auto; margin-right:auto">
            ​
            <div style="width: 960px; height:80px; position: auto;margin-top: 5px; margin-bottom: 5px;">
                ​
                <img id="logo" src="../assets/images1/logo1.png" width="200" height="150"></div>

            <div style="width:500px; height:20px; float:left; text-align:right;">
                <span>
                    <h3 class="text-white">Stock Market Charting</h3>
                </span>
            </div>
            <div>
                <img id="callus" class="float-right" src="../assets/images1/callus.png">
                <span>
                    <h5 class="text-right text-white">For Enquiry<br>
                        ​ Call Us 9225648543</h5>

                </span>

            </div>
            ​
            <div style="width: 1000px;  margin-top: 5px; margin-left: auto; margin-right:auto">
                <nav class="navbar navbar-expand-lg bg-white">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class=" nav-link text-primary" href="home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link text-primary" href="aboutus.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link text-primary" href="contactus.html">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="login">Sign Up</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <!-- <table class="table border">
        <thead>
        <tr><td>id : </td><td>{{admin.id}}</td></tr>
        <tr><td>Name : </td><td>{{admin.name}}</td></tr>
        <tr><td>Email : </td><td>{{admin.email}}</td></tr>
        <tr><td>Phone : </td><td>{{admin.phone}}</td></tr>
    </thead>
    </table> -->
       
         
           <!-- <div style="position: absolute;  width: 100%; margin-top: 0px; margin-bottom: 0px;">
                <img src="../assets/images1/stock_exchange.png">
                <div style="position: absolute;  width: 30%; margin-top: 0px; margin-bottom: 0px;">
                    <table class="table border border-collapse">

                        <thead>
                            <tr>
                                <td>
                                    <h1 class="text-primary text-align">Login</h1>
                                </td>
                            </tr>
                            <tr rowspan="3">
                                <form action="" class="float-right">
                                    <div class="form-group">
                                        <td>
                                            <h5><label for="Email" class="text-primary">Email : </label></h5>
                                            <input type="email" id="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <h5><label for="password" class="text-primary">Password :</label> </h5>
                                        <input type="password" id="pass" class="form-control">
                                    </div>
                                    <button type="login" class="btn btn-primary">Login</button>
                                  </td>
                            </tr>
                
                </thead>
                </table>
              </div>
            </div> -->
 

​